{% extends 'base.html.twig' %}
{% block title %}{{ sitename }} - Login{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('/css/security/login.css') }}" />
{% endblock %}
{% block body %}
    <div class="container">
        <div class="logo-container">
            <p><img src="{{ asset('/images/logo.png') }}" width="300"></p>
            <h1>Control de acceso</h1>
        </div>
        {% if error %}
                <div class="alert alert-danger" role="alert">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}
        {% for flash in app.flashes('register_submit') %}
        <div class="alert alert-success alert-dismissible">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            {{ flash }}
        </div>
        {% endfor %}
        <form action="{{ path('app_login') }}" method="post">
            <label for="username">Email:</label>
            <input type="text" id="username" name="_username" value="{{ last_username }}">

            <label for="password">Password:</label>
            <input type="password" id="password" name="_password">
            <a class="link" href="{{ url('app_forgot_password_request')}}" title="Recuperar contraseña">Recuperar contraseña</a>
            <input type="hidden" name="_target_path" value="/switch"/> 
            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
            <button type="submit">Acceder</button>
        </form>
    </div>
{% endblock %}