{# templates/bundles/EasyAdmin/dashboard.html.twig #}

{% extends '@!EasyAdmin/layout.html.twig' %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/filters-handler.js') }}"></script>
{% endblock %}
{% block content %}
  <div class="modal fade alertModal" id="alertModal" tabindex="-1" role="dialog" aria-labelledby="alertModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-body"><p id="alertContent" class="p-4"></p></div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" onclick="$('#alertModal').modal('hide')">Aceptar</button>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade alertModal" id="loadingModal" tabindex="-1" role="dialog" aria-labelledby="alertModal" aria-hidden="false">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-body "><img height="40" src="{{ asset('images/loading.gif') }}"><br>Cargando...</div>
      </div>
    </div>
  </div>
  <div style="text-align:center;margin-top:16px;">
    <form method="POST" id="company-form">
      <div class="form-group">
        {% if 'ROLE_ADMINISTRATIVE' not in app.user.roles and 'ROLE_SUPERVISOR' not in app.user.roles %}
          <select name="company_id" id="company-select" class="form-select me-3" style="width: 250px;">
            {% for company in companies %}
              <option value="{{ company.id }}" {% if selectedCompany and selectedCompany.id == company.id %} selected {% endif %}>
                {{ company.comercialName }}
              </option>
            {% endfor %}
          </select>
        {% else %}
          <span>{{ selectedCompany.name }}</span>
          <input type="hidden" name="company_id" value="{{ selectedCompany.id }}">
        {% endif %}
      </div>
    </form>
    {# {% if 'ROLE_SUPERVISOR' in app.user.roles %}
      <div class="notification" id="notification">
        <span style="color:red;">Tienes {{ ausencias }} Ausencias pendientes</span>
      </div>
    {% endif %} #}

    <h4>En esta secci칩n encontrar치s un resumen de la actividad m치s importante.</h4>
    <h5>Pronto estar치 disponible, agradecemos tu paciencia.</h5>
    <img src="{{ asset('images/underConstruction.jpg') }}">
  </div>

{% endblock %}